.gamedetailDiv {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  min-height: 100vh;
}
.gameName {
  display: flex;
}

.gameName h2 {
  margin-left: auto;
}
.imgslider {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 20px;
  position: relative;
}
svg {
  border-radius: 20px;
}
.navigation {
  width: 70%;
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
  margin: auto;
  position: absolute;
  bottom: 5%;
  left: 15%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 10px;
}

.navigationdivs {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.active {
  background-color: aqua;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.cartinfo{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 1.5rem;
    background-color: rgba(48, 45, 45, 0.616);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;


}
.addtocart{
    margin-left: auto;
}
.descritiondiv{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    max-height: 200px;
    overflow: auto;
    
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
