.navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 250px;
  font-size: larger;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  max-height: fit-content;
  align-self: center;
}

.navitem {
  list-style: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  margin-bottom: 1rem;
}

.icon {
  margin-right: 0.5rem;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.navitem:hover {
  color: #00ffff; /* neon-style hover */
}

.icon {
  margin-right: 0.5rem;
}

/* Dropdown menu */
.dropdown {
  position: absolute;
  top: 100%;
  left: 100%;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 8px;
  padding: 0.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  min-width: 180px;
  z-index: 2000;
}
.dropdownitem {
  padding: 0.5rem 1rem;
  color: #eee;
  white-space: nowrap;
  transition: background 0.2s;
}

.dropdownitem:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #00ffff;
}

/* Show dropdown on hover */
.navitem:hover .dropdown {
  display: flex;
}

.closeBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: rgba(110, 108, 108, 0.4);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  z-index: 9999;
}

.toggleNav {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 1.5rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .storeContent {
    padding: 0.5rem;
  }

  .navbar {
    width: 230px;
    max-height: 60vh;
    overflow-y: auto;
    position: fixed;
    top: 30%;
    left: 0;
  }

  .closeBtn {
    position: sticky;
    top: 0.5rem;
    right: 0.5rem;
  }

  .navcontainer {
    max-height: 80vh;
    overflow: auto;
    margin-left: 0;
  }
}

/* Optional: Smooth Transitions */
.navbar,
.gamesContainer,
.toggleNav {
  transition: all 0.3s ease;
}
