.storeContent {
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: black;
}
.gamesContainer {
  background-color: rgba(20, 20, 40, 0.9);
  width: 100%;
  z-index: 1;
  position: relative;
}
.navcontainer {
  position: relative;
  z-index: 2;
}
.flexStore{
    display: flex;
    flex-direction: column;
}

@media  screen and (max-width: 750px) {
  .storeContent {
    padding: 0.2rem;
  }
  .navcontainer{
    width: 100%;
    max-height: 80vh;
    overflow: auto;
  }
  .toggleNav{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 80%;
    display: block;
    color: black;
    margin-left: 0.5rem;
    border-radius: 50%;
    font-size: larger;
    z-index: 1000;
    border: none;
    display: block;
    text-align: center;
  }
  .gamesContainer{
    width: 100%;
    height: fit-content;
  }

}
