.storeContent {
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: black;
}
.navandgamediv {
  position: relative;
  z-index: 2;
  display: flex;
}
.flexStore{
    display: flex;
    flex-direction: column;
}

@media  screen and (max-width: 750px) {
  .storeContent {
    padding: 0;
  }
  .storeContent p{
    margin: 0;
  }
  .storeContent h1{
    margin: 0;
  }
  .navandgamediv{
    width: 100%;
    max-height: 80vh;
    overflow: auto;
  }
  .toggleNav{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 85%;
    display: block;
    color: black;
    margin-left: 0.5rem;
    border-radius: 50%;
    font-size: larger;
    z-index: 1000;
    border: none;
    left: 2rem;
    display: flex;
    justify-content: center;
  }
  .gamesContainer{
    width: 100%;
    height: fit-content;
  }
  .hamburger{
    align-self: center;
    font-size: larger;
    font-weight: bolder;
  }

}
